header {
    background-image: url("./assets/backgrounds/h_img.jpg");
    height: 900px;
    background-size: cover;
}
#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    padding-top: 200px;
    padding-bottom: 70px;
}
#wel {
    padding-top: 30px;
}
#intro {
    text-align: center;
    color: white;
}
.mouse {
    display: block;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
}
.card-body {
    text-align: center;
}
header h1{

    text-align: center;
    color: white;
}
h2 {
    color: black;
    text-align: center;
}
.services {
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 500px;
    color: white;
    font-size: large;
}
#serv {
    padding-top: 60px;
    color: white;
}
h3 {
    text-align: center;
}
#cont{
    display: flex;
    flex-direction: row;
}
.overlay:hover{
    opacity: 0.6;
}
.overlay {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color:white;
    font-size: 20px;
    padding: 78px;
    text-align: center;
    margin-top: 4px;
  }

.contactus {
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
input {
    background: transparent;
    border: 1px white solid;
}

::placeholder {
    color: white;
}
#us {
    color: white;
}
#name ,#mail {
    width: 25%;
}
#msg {
    height: 200px;
    width: 50%;
}
footer {
    text-align: center;
    padding-top: 20px;
}